.gws-slider{
	border: 1px dashed #FFC300;
	&:before{
		content: "GWS Slidery";
		background: #FFC300;
		color: #000;
		font-size: .8em;
		padding: 2px 4px;
		gap:0;
	}

	&>*{
		border: 1px dotted #FFC300;
		margin: 10px !important;
		padding: 10px !important;
	}
}