.gws-slider{
	border: 1px dashed #FFC300;
	gap:10px !important;
	padding: 10px;
	&:before{
		content: "GWS Slidery";
		background: #FFC300;
		color: #000;
		font-size: .8em;
		padding: 2px 4px;
		align-self: flex-end;
		margin-left: -11px;
		margin-top: -11px;
	}

	&>*{
		border: 1px dotted #FFC300;
	}
}